@import "tailwindcss";

@theme {
  --color-jardin-marron-oscuro: #5D3B0B;
  --color-jardin-marron-medio: #6A4F1D;
  --color-jardin-verde-oliva: #7A8A3F;
  --color-jardin-verde-claro: #A6B777;
  --color-jardin-beige: #E9E5D6;
}
