@import "tailwindcss";

@theme {
  --color-jardin-marron-oscuro: #5D3B0B;
  --color-jardin-marron-medio: #6A4F1D;
  --color-jardin-verde-oliva: #7A8A3F;
  --color-jardin-verde-claro: #A6B777;
  --color-jardin-beige: #E9E5D6;
}

.main-button {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-md text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors bg-jardin-verde-oliva text-white border border-transparent hover:bg-jardin-verde-oliva/90;
}

.ghost-button {
  @apply inline-flex items-center justify-center px-4 py-2 rounded-md text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors bg-transparent text-jardin-verde-oliva border border-jardin-verde-oliva hover:bg-jardin-verde-oliva hover:text-white;
}